@import '../../../settings';
.root {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

#text {
  position: absolute;
  bottom: 12%;
  padding-left: 4%;
  font-family: $main-font-text;
  font-weight: bold;
}
