@import '../../../settings';
.root {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  &:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
}

#text {

  font-weight: bold;
  font-family: $main-font-text;
  display: flex;
  justify-content: center;
  align-items: center;
}
