@import '../../../settings';
.root {
  width: 100%;
  height: 85vh;
  background-color: $hero-bckg-color;
}

.phrase {
  display: flex;
  height: auto;
  width: min-content;
  color: $navbar-color;
  align-items: center;

  * {
    font-family: $main-font-heading;
  }
}

.sentence {
  white-space: nowrap;
}
