@import '../../../settings';
.root {
  width: 100%;
  height: calc(100vh - 100px);
  background: url('src\\assets\\heroBackground.png') no-repeat center center
    scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.phrase {
  padding: 55vh 0 0 45vw;
  color: $white-text;
}

.title {
  font-family: $main-font-text;
  margin-bottom: 2rem;
  letter-spacing: 0.4rem;
  text-shadow: 6px 2px 0px black, 7px 2px 0px $white-text;
}

.sentence {
  display: flex;
  height: auto;
  width: min-content;
  padding-left: 5%;
  align-items: center;

  * {
    font-family: $main-font-heading;
    font-weight: normal;
    font-size: 2rem;
    white-space: nowrap;
    letter-spacing: 0.2rem;
  }
  .words {
    margin-bottom: 2px;
  }
  .words:first-child {
    margin-right: 0.5rem;
  }
  .words:last-child {
    margin-left: 0.5rem;
  }
}
