@import '../../../settings';
.root {
  width: 100vw;
  height: 85vh;
  background-color: $hero-bckg-color;
}

.phrase {
  display: flex;
  height: auto;
  width: min-content;
  color: $navbar-color;
  align-items: center;
}

.sentence {
  white-space: nowrap;
}
