@import '../../../settings';

.root {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $main-font-text;
  font-size: 25px;
}

.arrowLeft,
.arrowRight {
  cursor: pointer;
  color: #1e1e1e;
  position: absolute;
  top: 50%;
  font-size: 40px;
  transform: translateY(-50%);
  -webkit-tap-highlight-color: #1e1e1e;
}

.arrowLeft:hover,
.arrowRight:hover,
.arrowLeft:active,
.arrowRight:active {
  -webkit-tap-highlight-color: #1e1e1e;
}

.arrowRight {
  right: 0;
}

.arrowLeft {
  left: 0;
}

@media (min-width: 900px) {
  .root {
    width: 50%;
    margin: auto;
    padding: 0 3%;
  }
}
