@import '../../../settings';

.root {
  display: inline-block;
  align-self: start;
  font-family: $main-font-heading;
  margin-left: $marg-1;
  padding: calc($marg-1 * 0.35) 0 calc($marg-1 * 0.2) 0;
  max-width: 33%;
  z-index: 2;
  text-transform: 'lowercase';
  position: relative;
  font-weight: bold;
  width: fit-content;
  white-space: nowrap;
  &::before{
    position: absolute;
    content: '';
    width: 100%;
    left: 1.5rem;
    z-index: -1;
    background-color: $bgLightBlue;
    top: 50%;
    transform: translateY(-80%);
  }
}

.h2::before {
  height: 3rem;
}
.h3::before {
  height: 2rem;
}
.h4::before {
  height: 2rem;
  width: 100%;
}
.h5::before {
  height: 1.2rem;
}
.bgRed, .bgRedRmMargin {
  &::before {
    background-color: $bgRed;
  }
}

.bgLightBlue {
  &::before {
    background-color: $bgLightBlue;
  }
}

.bgDarkBlue{
  &::before{
    background-color: $bgDarkBlue;
  }
}


.h2 {
  font-size: 5rem;
}

.h3 {
  font-size: 3.4rem;
}

.h4 {
  font-size: 3rem;
}

.h5 {
  font-size: 2rem;
}

.h6 {
  font-size: 1.5rem;
}


@media (max-width: $md){
  .root{
    &::before{
      left: 1rem;
    }
  }
  .h2 {
    font-size: 2.4rem;
    &::before {
      height: 1.4rem;
    }
  }

  .h3 {
    font-size: 2rem;
    &::before {
      height: 1.5rem;
    }
  }
  
  .h4 {
    font-size: 2rem;
    &::before {
      height: 1rem;
    }
  }
  
  .h5 {
    font-size: 2rem;
    &::before {
      height: 2rem;
    }
  }
  .h6 {
    padding-top: 20px;
    min-width: 300px;

    font-size: 1.5rem;
    // white-space: normal;
    &::before {
      height: 1rem;
    }
  }
}

@media (max-width: 350px) {
  .h6 {
    padding-top: 20px;
    min-width: 240px;

    font-size: 1.2rem;
    // white-space: normal;
    &::before {
      height: 0.9rem;
    }
  } 
}