@import '../../../settings';

.root {
  display: inline-block;
  align-self: start;
  font-family: $main-font-heading;
  text-transform: lowercase;
  margin-left: $marg-1;
  padding: calc($marg-1 * 0.5) 0;
  width: fit-content;
  max-width: 50%;
  position: relative;
  z-index: 2;
}

.bgRed,
.bgLightBlue {
  font-weight: bold;
  *::before {
    position: absolute;
    content: ' ';
    width: 100%;
    left: 1.5rem;
    z-index: -1;
  }

  h2::before {
    height: 3rem;
  }
  h3::before {
    height: 2rem;
  }
  h5::before {
    height: 1.2rem;
  }
}

.bgRed {
  *::before {
    background-color: $bgRed;
  }
}

.bgLightBlue {
  *::before {
    background-color: $bgLightBlue;
  }
}
