@import '../../../settings';

.root {
  background-color: $bgRed;
  margin: 50px 0;
  // height: calc(100vh - 65px);
}

.container {
  overflow: hidden;
  margin: auto;
  position: relative;
}

// @media (max-width: $sm) {
//   .root{
//     display: flex;
//     flex-direction: column;
//   }
// }
