@import '../../../../settings.scss';
.spinner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  height: 6.9rem;
  overflow: hidden;
}

@mixin enlargeWord {
  color: $bgRed;
  font-size: 2rem;
  text-shadow: -1px -1px 0 $bgRed, 1px -1px 0 $bgRed, -1px 1px 0 $bgRed,
    1px 1px 0 $bgRed;
}

@mixin baseWord {
  color: $white-text;
  font-size: 1.5rem;
  text-shadow: none;
}

p.word {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2.3rem;
  transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
}

.word:nth-child(1),
.word:nth-child(6),
.word:nth-child(7) {
  animation: spin_words 6s infinite;
}

.word:nth-child(2) {
  animation: word2 6s infinite;
}

.word:nth-child(3) {
  animation: word3 6s infinite;
}

.word:nth-child(4) {
  animation: word4 6s infinite;
}

.word:nth-child(5) {
  animation: word5 6s infinite;
}

@keyframes word2 {
  0% {
    @include enlargeWord;
  }
  18% {
    transform: translateY(-110%);
    @include baseWord;
  }
  33% {
    transform: translateY(-100%);
  }
  51% {
    transform: translateY(-210%);
  }
  66% {
    transform: translateY(-200%);
  }
  84% {
    transform: translateY(-310%);
  }
  100% {
    transform: translateY(-300%);
    @include baseWord;
  }
}

@keyframes word3 {
  0% {
    @include baseWord;
  }
  18% {
    transform: translateY(-110%);
    @include enlargeWord;
  }
  33% {
    transform: translateY(-100%);
    @include enlargeWord;
  }
  51% {
    transform: translateY(-210%);
    @include baseWord;
  }
  66% {
    transform: translateY(-200%);
  }
  84% {
    transform: translateY(-310%);
  }
  100% {
    transform: translateY(-300%);
  }
}

@keyframes word4 {
  18% {
    transform: translateY(-110%);
  }
  33% {
    transform: translateY(-100%);
    @include baseWord;
  }
  51% {
    transform: translateY(-210%);
    @include enlargeWord;
  }
  66% {
    transform: translateY(-200%);
    @include enlargeWord;
  }
  84% {
    transform: translateY(-310%);
    @include baseWord;
  }
  100% {
    transform: translateY(-300%);
  }
}

@keyframes word5 {
  18% {
    @include baseWord;
    transform: translateY(-110%);
  }
  33% {
    transform: translateY(-100%);
  }
  51% {
    transform: translateY(-210%);
  }
  66% {
    transform: translateY(-200%);
    @include baseWord;
  }
  84% {
    transform: translateY(-310%);
    @include enlargeWord;
  }
  100% {
    transform: translateY(-300%);
    @include enlargeWord;
  }
}

@keyframes spin_words {
  18% {
    transform: translateY(-110%);
  }
  33% {
    transform: translateY(-100%);
  }
  51% {
    transform: translateY(-210%);
  }
  66% {
    transform: translateY(-200%);
  }
  84% {
    transform: translateY(-310%);
  }
  100% {
    transform: translateY(-300%);
  }
}


@media (max-width: $sm){
  .word{
    font-size: $hero-words-sm;
  }
}