/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap");
/* FONT SIZES */
/* FONT COLORS */
/* BACKGROUND COLORS */
/* HEIGHTS */
/* WIDTHS */
/* MARGINS */
/** 12 division grid, 
*   for multiples use calc($var*[const])
*/
/* ALWAYS USE max-width starting from xl down*/
/* BREAKPOINTS */
.spinner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  height: 6.9rem;
  overflow: hidden;
}

p.word {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2.3rem;
  transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
}

.word:nth-child(1),
.word:nth-child(6),
.word:nth-child(7) {
  animation: spin_words 6s infinite;
}

.word:nth-child(2) {
  animation: word2 6s infinite;
}

.word:nth-child(3) {
  animation: word3 6s infinite;
}

.word:nth-child(4) {
  animation: word4 6s infinite;
}

.word:nth-child(5) {
  animation: word5 6s infinite;
}

@keyframes word2 {
  0% {
    color: #e63946;
    font-size: 2rem;
    text-shadow: -1px -1px 0 #e63946, 1px -1px 0 #e63946, -1px 1px 0 #e63946, 1px 1px 0 #e63946;
  }
  18% {
    transform: translateY(-110%);
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: none;
  }
  33% {
    transform: translateY(-100%);
  }
  51% {
    transform: translateY(-210%);
  }
  66% {
    transform: translateY(-200%);
  }
  84% {
    transform: translateY(-310%);
  }
  100% {
    transform: translateY(-300%);
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: none;
  }
}
@keyframes word3 {
  0% {
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: none;
  }
  18% {
    transform: translateY(-110%);
    color: #e63946;
    font-size: 2rem;
    text-shadow: -1px -1px 0 #e63946, 1px -1px 0 #e63946, -1px 1px 0 #e63946, 1px 1px 0 #e63946;
  }
  33% {
    transform: translateY(-100%);
    color: #e63946;
    font-size: 2rem;
    text-shadow: -1px -1px 0 #e63946, 1px -1px 0 #e63946, -1px 1px 0 #e63946, 1px 1px 0 #e63946;
  }
  51% {
    transform: translateY(-210%);
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: none;
  }
  66% {
    transform: translateY(-200%);
  }
  84% {
    transform: translateY(-310%);
  }
  100% {
    transform: translateY(-300%);
  }
}
@keyframes word4 {
  18% {
    transform: translateY(-110%);
  }
  33% {
    transform: translateY(-100%);
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: none;
  }
  51% {
    transform: translateY(-210%);
    color: #e63946;
    font-size: 2rem;
    text-shadow: -1px -1px 0 #e63946, 1px -1px 0 #e63946, -1px 1px 0 #e63946, 1px 1px 0 #e63946;
  }
  66% {
    transform: translateY(-200%);
    color: #e63946;
    font-size: 2rem;
    text-shadow: -1px -1px 0 #e63946, 1px -1px 0 #e63946, -1px 1px 0 #e63946, 1px 1px 0 #e63946;
  }
  84% {
    transform: translateY(-310%);
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: none;
  }
  100% {
    transform: translateY(-300%);
  }
}
@keyframes word5 {
  18% {
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: none;
    transform: translateY(-110%);
  }
  33% {
    transform: translateY(-100%);
  }
  51% {
    transform: translateY(-210%);
  }
  66% {
    transform: translateY(-200%);
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: none;
  }
  84% {
    transform: translateY(-310%);
    color: #e63946;
    font-size: 2rem;
    text-shadow: -1px -1px 0 #e63946, 1px -1px 0 #e63946, -1px 1px 0 #e63946, 1px 1px 0 #e63946;
  }
  100% {
    transform: translateY(-300%);
    color: #e63946;
    font-size: 2rem;
    text-shadow: -1px -1px 0 #e63946, 1px -1px 0 #e63946, -1px 1px 0 #e63946, 1px 1px 0 #e63946;
  }
}
@keyframes spin_words {
  18% {
    transform: translateY(-110%);
  }
  33% {
    transform: translateY(-100%);
  }
  51% {
    transform: translateY(-210%);
  }
  66% {
    transform: translateY(-200%);
  }
  84% {
    transform: translateY(-310%);
  }
  100% {
    transform: translateY(-300%);
  }
}
@media (max-width: 991px) {
  .word {
    font-size: 19px;
  }
}/*# sourceMappingURL=index.module.css.map */