@import '../../../settings';

.red, .lightBlue, .darkBlue {
  margin: $marg-1 0;
  width: 300px;
  height: 300px;
  border: 40px solid blue;
  display: flex;
  flex-direction: column; 
  font-family: $main-font-heading;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  & >* {
    padding: 30px;
  }
}

.red {
  border-color: $bckgRed;
}

.lightBlue{
  border-color: $bckgLightBlue;
}

.darkBlue{
  border-color: $bckgDarkBlue;
}

.container{
  background-color: $bckgLightContainer;
  min-height: $container-min-height;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons{
  // outline: 1px solid red;
  display: flex;
  margin: auto;
  justify-content: center;
  & >* {
    margin: 10px;
    // outline: 1px solid blue;
  }
}


// @media (min-width: 700px) {
//   .root{
//     flex-basis: 40%;
//   }
// }

@media (min-width: 1100px) {
  .root{
    flex-basis: 26%;
  }
}