@import '../../../settings';

.root {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 40px solid blue;
  font-family: $main-font-heading;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 30px;
}

.red {
  border-color: $bgRed;
}

.lightBlue {
  border-color: $bgLightBlue;
}

.darkBlue {
  border-color: $bgDarkBlue;
}


.description {
  font-size: 22px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 20%;
  width: fit-content;
}

@media (max-width: 350px) {
  .root{
    width: 250px;
    height: 250px;
    border-width: 15px;
    &>*{
      font-size: 18px;
    }
  }

}
