@import '../../../settings';

.sectionSummary{
  font-family: $main-font-text;
  background-color: white;
  font-size: 30px;
  font-weight: 100;
  text-align: center;  
  &>* {
    margin: auto;
    width: 600px;
    padding: 40px 50px;
  }
  p{

    text-align: center;
  }
}

@media (max-width: $md){
  .sectionSummary{
    width: 100%;
    &>*{
      width: 80%;
      padding: 0;
    }
  }
}

