@import '../../../settings';

.goUp{
  position: absolute;
  // outline: 1px blue solid;
  right: 10%;
  bottom: 0px;

  color: white;
  justify-content: center;
  align-items: center;
  transform: rotate(270deg);
  &:hover{
    transform: rotate(270deg) scale(1.1);
    cursor: pointer;
  }

}

.root {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.container {
  height: fit-content;
  padding: 2rem 0;
}

.bgRed {
  width: 100%;
  height: 100%;
  background-color: $bgRed;
}

.content {
  max-width: 1300px;
}

.aboutMe {
  width: 50%;
  margin-left: $marg-1;
  font-family: $main-font-text;

  h6 {
    width: fit-content;
  }

  & div,
  & div h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 3rem;
  }
}

.spread {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  text-align: center;
}

@media (max-width: $md){
  .aboutMe{
    width: 80%;
    & > * {font-size: 20px;}
  }
  .btnTxt{
    font-size: 16px;
  }
  .buttons{
    margin-top: 50px;
    width: 60%;
  }

  .goUp{
    display: none;
  }
}


@media(max-width: $sm){
  
}