@import '../../../settings';
.root {
  background-color: $lightBackground;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.content {
  max-width: 1300px;
}
