@import '../../../settings';

$sticky-breakpoint: 32em;

.root {
  background-color: $navbar-bg-color;
  padding: 0 10%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  opacity: 1;
  height: $navbar-height-md-up;
  z-index: 5;
  transition: all 0.2s linear;
  -webkit-box-shadow: 0px 3px 7px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 7px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 7px -1px rgba(0, 0, 0, 0.5);

  @media (min-height: $sticky-breakpoint) {
    position: sticky;
    top: 0;
  }
}

// [id] {
//   @media (min-height: $sticky-breakpoint) {
//     scroll-margin-top: 63px;
//   }
// }

// .scrolled {
//   height: 65px;

//   .navlink {
//     font-size: 30px;
//     line-height: 42px;
//   }
// }

.nav {
  position: relative;
  z-index: 1;
  right: 0;
  white-space: pre;
  width: fit-content;
  box-sizing: border-box;
}

.navlink {
  font-family: $main-font-heading;
  line-height: 56px;
  color: $navbar-color;
  margin-left: 100px;
  text-decoration: none;

  * {
    margin: 0;
  }
}

.navlink:visited {
  color: $navbar-color;
}

.hamburger {
  display: none;
}

@media (max-width: $lg) {
  .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $navbar-bg-color;
    color: $navbar-color;
    z-index: 1;
    text-align: center;
    width: 200px;
    top: $navbar-height-md-up;
    transform: translateX(200px);
    transition: all 0.2s linear;
  }

  // .scrolled .nav {
  //   top: 65px;
  // }

  .navlink,
  .navlink:visited {
    line-height: 51px;
    color: $navbar-color;
    width: 100%;
    margin: 0;
    border-top: 1px solid black;
  }

  .open .nav {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
    position: absolute;
    z-index: 10;
    right: 3%;
  }
}

@media (max-width: $xs) {
  .root {
    padding: 0 4%;
  }
  .span {
    font-size: 23px;
  }
  .hamburger {
    position: relative;
  }
}
