@import '../../../settings';

$sticky-breakpoint: 32em;

.root {
  background-color: $navbar-bg-color;
  padding: 0 10%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  opacity: 1;
  height: $navbar-height;
  z-index: 5;
  transition: all 0.2s linear;

  @media (min-height: $sticky-breakpoint) {
    position: sticky;
    top: 0;
  }
}

[id] {
  @media (min-height: $sticky-breakpoint) {
    scroll-margin-top: 63px;
  }
}

.scrolled {
  height: 65px;

  div {
    height: 32px;
  }

  .navlink {
    font-size: 30px;
    line-height: 42px;

    * {
      margin: 0;
      padding: 0;
    }
  }
}

.nav {
  position: relative;
  z-index: 1;
  right: 0;
  white-space: pre;
  width: fit-content;
  box-sizing: border-box;
}

.navlink {
  font-family: $main-font-heading;
  font-size: 40px;
  line-height: 56px;
  color: $navbar-color;
  // margin-left: 100px;
  text-align: center;
  text-decoration: none;

  * {
    margin: 0;
  }
}

.navlink:visited {
  color: $navbar-color;
}

.hamburger {
  display: none;
}

@media (max-width: $md) {
  // .root {
  //   overflow: hidden;
  // }

  .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(87, 87, 87, 0.871);
    color: $navbar-color;
    z-index: 1;
    text-align: center;
    right: -100%;
    transition: right 1s;
  }

  .navlink {
    font-size: 20px;
    color: $navbar-color;
    width: max-content;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  .navlink:visited {
    color: $navbar-color;
  }

  .hamburger {
    display: block;
    position: absolute;
    z-index: 10;
    right: 3%;
  }
}

@media (max-width: $md) {
  .span {
    font-size: 23px;
  }
  .hamburger {
    right: 10px;
  }
}
