@import '../../../settings.scss';
.root{
  background-color: $bgLightContainer;
  padding: 1%;
  text-align: center;
}

.link{
  text-decoration: none;
  color: black;
  font-family: $main-font-heading;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 20px;
}

.link:hover{
  color: $bgDarkBlue;
}

@media (max-width: $md) {
  .link{
    font-size: 15px;
  }
}