/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap');
$main-font-heading: 'Teko', sans-serif;
$main-font-text: 'Oswald', sans-serif;

/* FONT SIZES */
$hero-words-sm: 19px;

/* FONT COLORS */
$navbar-color: #1e1e1e;
$white-text: #ffffff;
$lightGrayFont: rgb(188, 188, 188);

/* BACKGROUND COLORS */
$navbar-bg-color: #fbf8f5;
$hero-bg-color: #1d3557;
$bgRed: #e63946;
$bgLightBlue: #457b9d;
$bgDarkBlue: #1d3557;
$bgLightContainer: #fbf8f5;
$lightBackground: #fbf8f5;
/* HEIGHTS */
$navbar-height: 100px;
$container-min-height: 80vh;

/* WIDTHS */

/* MARGINS */
/** 12 division grid, 
*   for multiples use calc($var*[const])
*/

$marg-1: 8.3%;

/* ALWAYS USE max-width starting from xl down*/
/* BREAKPOINTS */
// $xxl: ''; // < 1400px
$xl: '1399px'; // 1200px - 1399px
$lg: '1199px'; // 992px - 1199px
$md: '991px'; // 768px - 991px
$sm: '767px'; // 576px - 767px
$xs: '575px'; // 0px - 575px
